@** Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Web.Models.Catalog
@using SevenSpikes.Nop.Framework.MVCExtensions
@using SevenSpikes.Nop.Plugins.MegaMenu.Models

@model MegaMenuManufacturersModels

@if (Model.ManufacturersModels.Count > 0)
{
    <li>
        <a href="@Url.RouteUrl("ManufacturerList")" title="@Html.GetResourceForCurrentStore("SevenSpikes.MegaMenu.Admin.Settings.ManufacturersItemNameValue")">@Html.GetResourceForCurrentStore("SevenSpikes.MegaMenu.Admin.Settings.ManufacturersItemNameValue")</a>
        <div class="dropdown manufacturers fullWidth">
            @ManufacturersDataTable(Model.ManufacturersModels)
        </div>
    </li>
}

@helper ManufacturersDataTable(IList<ManufacturerModel> manufacturerModels)
{
    foreach (var item in manufacturerModels)
    {
        <div class="box">
            <ul>
                <li>
                    <a class="manufacturer" href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.Name">
                        <span><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" title="@item.PictureModel.AlternateText" /></span>
                    </a>
                </li>
            </ul>
            <div class="title">
                <a class="manufacturer" href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.Name"><strong>@item.Name</strong></a>
            </div>
        </div>
    }
}